<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container-fluid">
<h2 th:text="${title}"></h2>
    <form method="post" th:object="${log}">
        <span>
        <div class="form-group">
            <label th:for="date">Date</label>
            <input type="date" class="form-control-lg" name="date" th:field="*{date}" />
            <span th:errors="*{date}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="weight">Weight</label>
            <input type="text" class="form-control-lg" name="weight" th:field="*{weight}" />
            <span th:errors="*{weight}" class="error"></span>
        </div>
        <input type="submit" value="Add Log" />
        </span>
    </form>

</body>
</html>